<form id="createOrder" action="create_payment_url" method="POST">
    <div class="form-group">
        <label for="">loại hàng hóa</label>
        <select name="orderType" id="orderType" class="form-control">
            <option value="topup">Nạp tiền điện thoại</option>
            <option value="billpayment">Thanh toán hóa đơn</option>
            <option value="fashion">Thời trang</option>
        </select>
    </div>
    <div class="form-group">
        <label for="">Số tiền</label>
        <input type="text" name='amount' placeholder="Số tiền" value={{amount}} class="form-control" id="amount">
    </div>
    <div class="form-group">
        <label for="">Nội dung thanh toán</label>
        <textarea id="orderDescription" type="text" name='orderDescription' placeholder="Nội dung thanh toán"
            class="form-control">{{description}} </textarea>
    </div>
    <div class="form-group">
        <select name="bankCode" id="bankCode" class="form-control">
            <option value=""></option>
            <option value="VNPAYQR"></option>
            <option value="NCB"></option>
            <option value="SCB"></option>
            <option value="SACOMBANK"></option>
            <option value="EXIMBANK"></option>
            <option value="MSBANK"></option>
            <option value="MAMABANK"></option>
            <option value="VISA"></option>
            <option value="VNMART"></option>
            <option value="VIETINBAK"></option>
            <option value="VIETCOMBANK"></option>
            <option value="HDBANK"></option>
            <option value="DONGABANK"></option>
            <option value="TPBANK"></option>
            <option value="OJB"></option>
            <option value="BIDV"></option>
            <option value="TECHCOMBANK"></option>
            <option value="VPBANK"></option>
            <option value="AGRIBANK"></option>
            <option value="MBANK"></option>
            <option value="ACB"></option>
            <option value="OCB"></option>
            <option value="SHB"></option>
            <option value="IVB"></option>
        </select>
    </div>
    <div class="form-group">
        <label for=""> ngôn ngữ</label>
        <select name="language" id="language" class="form-control">
            <option value="vn">Tiếng Việt</option>
            <option value="en">English</option>
        </select>
    </div>
    <button class="btn btn-defaul" id="btnPopup" type="submit">Thanh toán</button>
</form>
//Neu dung Redirect thi khong can cac thu vien ben duoi
{{!--
<link rel="stylesheet" href="https://pay.vnpay.vn/lib/vnpay/vnpay.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://pay.vnpay.vn/lib/vnpay/vnpay.js"></script>
<script type="text/javascript">
    var postData = $("#createOrder").serialize();
    var submitUrl = $("#createOrder").attr("action");
    $.ajax({
        type: "POST",
        url: submitUrl,
        data: postData,
        dataType: 'JSON',
        success: function (x) {
            if (x.code === '00') {
                if (window.vnpay) {
                    vnpay.open({ width: 768, height: 600, url: x.data });
                }
                else {
                    location.href = x.data;
                }
                return false;

            } else {
                alert(x.Message);
            }
        }
    });
    return false;
        });
</script> --}}